
// THEME 1

// #### Backgrounds
$darkbluemain1:#3a4764;
//  Very dark desaturated blue (main background): hsl(222, 26%, 31%)
$darkbluetoggle1:#232c43;
//  Very dark desaturated blue (toggle background, keypad background): hsl(223, 31%, 20%)
$darkbluescreen1:hsl(224, 36%, 15%);
//  Very dark desaturated blue (screen background): hsl(224, 36%, 15%)


// #### Keys

$darkbluebackgroundshadow1:#637097;
//  Desaturated dark blue (key background): hsl(225, 21%, 49%)
$darkbluebackgroundshadow2:#404e72;
//  Desaturated dark blue (key shadow): hsl(224, 28%, 35%)

$redkeybackground1:#d03f2f;
// Red (key background, toggle): hsl(6, 63%, 50%)
$darkredshadow1:#93261a;
// Dark red (key shadow): hsl(6, 70%, 34%)

$lightgrashorange1:#eae3dc;
// Light grayish orange (key background): hsl(30, 25%, 89%)
$grayisorange1:#b4a597;
// Grayish orange (key shadow): hsl(28, 16%, 65%)

// #### Text

$darkgrayishblue1:#444b5a;

// Very dark grayish blue: hsl(221, 14%, 31%)
$white13:#ffffff;
// White: hsl(0, 0%, 100%)


// ### Theme 2


// #### Backgrounds

$lightgray:#e6e6e6;
//  Light gray (main background): hsl(0, 0%, 90%)
$grayishred:#d1cccc;
//  Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
$verylight :#ededed;
//  Very light gray (screen background): hsl(0, 0%, 93%)


// #### Keys

$moderatecyan: #377f86; 
//  Dark moderate cyan (key background): hsl(185, 42%, 37%)
$dahslrkcyan:#1b5f65;
//  Very dark cyan (key shadow): hsl(185, 58%, 25%)

$oragebacktgl:#ca5502;
//  Orange (key background, toggle): hsl(25, 98%, 40%)
$darkorangeshadw:#ca5502;
//  Dark orange (key shadow): hsl(25, 99%, 27%)

$lightgrayishyellow: #e5e4e1;
// Light grayish yellow (key background): hsl(45, 7%, 89%)
$darkgrayishorange :#a69d91;
// Dark grayish orange (key shadow): hsl(35, 11%, 61%)


// #### Text

$verydarkgrayishyellow:#35352c; 
//  Very dark grayish yellow: hsl(60, 10%, 19%)
$whitetext:#ffffff; 

//  White (text): hsl(0, 0%, 100%)


// ### Theme 3


// #### Backgrounds

$darkviolet: #160628;   
// Very dark violet (main background): hsl(268, 75%, 9%)
$darkviolettglbckgrd:#1d0934; 
// Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)


// #### Keys

$darkvioletback:#58077d; 
//  Dark violet (key background): 
$sividmagent:#bc15f4;
//  Vivid magenta (key shadow): hsl(285, 91%, 52%)

$purecyan:#00e0d1; 
//  Pure cyan (key background, toggle): hsl(176, 100%, 44%)
$softcyan:#6cf9f2; 

//  Soft cyan (key shadow): hsl(177, 92%, 70%)

$verydarkviolet: #341c4f;
// #341c4f
//  Very dark violet (key background): hsl(268, 47%, 21%)
$darkmagenta:#871c9c;
//  Dark magenta (key shadow): hsl(290, 70%, 36%)


// #### Text

$lightyellow:#ffe53d; 
//  Light yellow: hsl(52, 100%, 62%)
$darkblue:#1b2428; 
// Very dark blue: hsl(198, 20%, 13%)
$white: #ffffff;
//  White (text): hsl(0, 0%, 100%)


// ## Typography


// ### Body Copy

$fontsizenumbers:32px;
//  Font size (numbers): 32px


// ### Font


//  Family: [League Spartan](https:
//fonts.google.com/specimen/League+Spartan)

//  Weights: 700
